{% extends 'jobtracker/base.html' %}
{% block body %}
    <div class="options">
        <form method="post" action="/job/{{ contact.job_id }}/contact/{{ contact.id }}" > 
            {% csrf_token %}
            <button title="Delete" name="delete">Delete this contact <i class="icon-remove"></i></button>
            <input type="hidden" name="_method" value="delete" />
        </form>
        <a href="/job/{{ contact.job_id }}/contact/{{ contact.id }}?edit" title="Edit">Edit this contact<i class="icon-pencil"></i></a>
    </div>
    <h1>{{ contact.name }}</h1>
    <p><a href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
    <p>{{ contact.phone }}</p>
    <p>{{ contact.notes  }}</p>
    <h2>Correspondence</h2>
    {% include 'jobtracker/correspondence_list.html' %}
{% endblock %}
