{% extends 'jobtracker/base.html' %}
    {% block body %}
        <h1><a href={{ job.post_url }}>
            {{ job.company }}: {{ job.job_title }} ({{ job.city }}, {{ job.state }})
        </a></h1>
        <section class="job_detail">
            {% block content %}
                <h3>Last Applied: {{ job.applied_on }}</h3>
                <p>Notes: <textarea rows="4" cols="50">{{job.notes}}</textarea></p>
                <p><a href="/job/edit/{{ job.id }}">Edit job info</a></p>
            {% endblock %}
        </section>
        <section class="contacts">
            <h2>Contacts</h2>
            <a href="/job/{{ job.id }}/contact"><i class="icon-plus"></i>Add
                a contact</a>
            {% include "jobtracker/contact_list.html" with contacts=job.contact_set.all %}
        </section>
        <section class="correspondences">
            <h2>Correspondences</h2>
            <label for="contact_filter">Display only messages from</label>
            <form action="/job/{{ job.id }}" method="get">
                <select name="contact_filter">
                    {% for contact in job.contact_set.all %}
                    <option value="{{ contact.id }}">{{ contact.name }}</option>
                    {% endfor %}
                </select>
                <button value="filter">Apply</button>
            </form>
            <a href="/job/{{ job.id }}/correspondence"><i class="icon-plus"></i>Add correspondence</a>
            {% include "jobtracker/correspondence_list.html" with correspondences=job.correspondence_set.all %}
        </section>
    {% endblock %}

