{% extends 'jobtracker/base.html' %}
    {% block body %}
        <h1>Jobs You're Tracking</h1>
        <span>Add new</span>
        <table class="jobs table table-striped table-hover">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Status</th>
                    <th>Date Added</th>
                    <th>Last Updated</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Web Developer</td>
                    <td>Evernote</td>
                    <td>Mountain View</td>
                    <td>CA</td>
                    <td>Applied</td>
                    <td>3/18/2013</td>
                    <td>3/24/2013</td>
                </tr>
                <tr>
                    <td>Software Engineer</td>
                    <td>Google</td>
                    <td>Mountain View</td>
                    <td>CA</td>
                    <td>Applied</td>
                    <td>2/8/2013</td>
                    <td>2/15/2013</td>
                </tr>
            </tbody>
        </table>
    {% endblock %}
