{% extends 'jobtracker/base.html' %}
    {% block body %}
        <h1>Jobs You're Tracking</h1>
        <h2><a href="/job/create">Add a new job!</a></h2>
        <table class="jobs">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Company</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Applied</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td><a href="/job/{{job.id}}">{{ job.job_title }}</a></td>
                    <td><a href="/job/{{job.id}}">{{ job.company }}</a></td>
                    <td><a href="/job/{{job.id}}">{{ job.city }}</a></td>
                    <td><a href="/job/{{job.id}}">{{ job.state }}</a></td>
                    <td><a href="/job/{{job.id}}">{{ job.applied_on }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endblock %}
