{% extends 'jobtracker/base.html' %}
    {% block body %}
    <section class="job-detail">
        <header>
            <h1><a href={{ job.post_url }}>
                {{ job.job_title }} at {{ job.company }}
            </a></h1>
            <span class="location">{{ job.city }}, {{ job.state }}</span>
            {% block content %}
                {% if job.applied_on %}
                    <h3>Applied: {{ job.applied_on }}</h3>
                {% else %}
                    <h3 class="not-applied">You haven't applied to this job</h3>
                {% endif %}
                {% if job.notes %}
                    <h4>Notes</h4>
                    <p>{{ job.notes }}</p>
                {% endif %}
            {% endblock %}
            <div class="options">
                <a href="/job/listdocs/{{ job.id }}" ><i class="icon-file"></i>Job Documents</a>
                <a class="updated" href="/job/edit/{{ job.id }}" ><i class="icon-pencil"></i>Edit</a>
                <form class="delete" action="/job/delete/{{ job.id }}" method="post">
                    {% csrf_token %}
                    <button value="delete"><i class="icon-remove"></i>Delete</button>
                </form>
            </div>
        </header>
        <section class="contacts">
            <h2>Contacts</h2>
            <a href="/job/{{ job.id }}/contact"><i class="icon-plus"></i>Add
                a contact</a>
            {% include "jobtracker/contact_list.html" with contacts=job.contact_set.all %}
        </section>
        <section class="correspondences">
            <h2>Correspondences</h2>
            <a href="/job/{{ job.id }}/correspondence"><i class="icon-plus"></i>Add correspondence</a>
            <form class="correspondence-filter" action="/job/{{ job.id }}" method="get">
                <label for="contact_filter">Display only messages from</label>
                <select name="contact_filter">
                    <option value="0">All contacts</option>
                    {% for contact in job.contact_set.all %}
                        {{ selected }}
                        {% if contact.id == selected %}
                        <option value="{{ contact.id }}" selected="selected">{{ contact.name }}</option>
                        {% else %}
                        <option value="{{ contact.id }}">{{ contact.name }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button value="filter">Apply</button>
            </form>
            {% include "jobtracker/correspondence_list.html" %}
        </section>
    </section>
    {% endblock %}

