@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/css/bootstrap.css";
@import "../bootstrap/css/bootstrap-responsive.css";

.jobs {
    .table;
    .table-striped;
    .table-hover;
}

.correspondences {
    list-style-type: none;
    margin-left: 0;

    button {
        border: none;
        background: none;
    }

}
