@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/css/bootstrap.css";
@import "../bootstrap/css/bootstrap-responsive.css";

.jobs {
    .table;
    .table-striped;
    .table-hover;
} // jobs

button {
    border: none;
    background: none;
}

.correspondences {

    .correspondence-list {
        list-style-type: none;
        margin-left: 0;

        .options * {
                float: right;
        }
    } // correspondence-list

    .add {
        button {
            border: none;
            background: none;
        }
    }

} // correspondences
