<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Jobtracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    {% load less %}
    <link rel="stylesheet" href="/static/styles/jobtracker.css" />
    {# <link rel="stylesheet" href="{{ STATIC_URL }}{% less "styles/jobtracker.less" %}" /> #}
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <!--
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/static/bootstrap/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/static/bootstrap/ico/favicon.png">
    -->
    {% block head %}{% endblock %}
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">Job Tracker</a>
            {% if user.is_authenticated %}
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a class="job" href="/job">Jobs</a></li>
                    <li><a class="document" href="/document">Documents</a></li>
                </ul>
                <form class="navbar-form pull-right" action="/logout/" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Log out</button>
                </form>
                <span class="username">{{ user.username }}</span>
            {% else %}
                <div class="pull-right">
                    <form class="navbar-form" action="/login/" method="post">
                        {% csrf_token %}
                        <input class="span2" type="text" name="username" placeholder="Username">
                        <input class="span2" type="password" name="password" placeholder="Password">
                        <button type="submit" class="btn">Sign in</button>
                        <a href="/register/">Register</a>
                    </form>
                </div>
            {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <section class="main container">
        {% block body %}{% endblock %}
    </section> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/bootstrap/js/jquery.js"></script>
    <script src="/static/bootstrap/js/bootstrap-transition.js"></script>
    <script src="/static/bootstrap/js/bootstrap-alert.js"></script>
    <script src="/static/bootstrap/js/bootstrap-modal.js"></script>
    <script src="/static/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="/static/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tab.js"></script>
    <script src="/static/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="/static/bootstrap/js/bootstrap-popover.js"></script>
    <script src="/static/bootstrap/js/bootstrap-button.js"></script>
    <script src="/static/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="/static/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="/static/bootstrap/js/bootstrap-typeahead.js"></script>
    <script>
        $(function() {
            if(document.URL.match(/job/)) {
                $('ul.nav .job').parent('li').addClass('active');
            }
            else if(document.URL.match(/document/)) {
                $('ul.nav .document').parent('li').addClass('active');
            }
            else {
                $('.brand').addClass('active');
            }
        });
    </script>
    {% block scripts %}{% endblock %}
  </body>
</html>
