{% if correspondence.contact %}
<h3 class="contact">{{ correspondence.contact }}</h3>
{% endif %}
<div class="options">
    <a href="/job/{{ correspondence.job_id }}/correspondence/{{ correspondence.id }}?edit" class="update" title="Edit"><i class="icon-pencil"></i></a>
    <form class="delete" method="post" action="/job/{{ correspondence.job_id }}/correspondence/{{ correspondence.id }}/" > 
        {% csrf_token %}
        <button title="Delete" name="delete"><i class="icon-remove"></i></button>
        <input type="hidden" name="_method" value="delete" />
    </form>
</div>
<span class="date">{{ correspondence.date  }}</span>
<pre>{{ correspondence.message  }}</pre>
