{% extends 'jobtracker/base.html' %}
{% block body %}
<h1>Available documents</h1>
        
    
    <div id="doc-list" >

{% if all_docs %}
    <table class="doc-list">
        <tr>
            <th>File Name</th>
            <th>Doc type</th>
            <th>Description</th>
            <th>Upload Date</th>
            <th>Remove</th>
        </tr>
    {% for doc in all_docs %}
        <tr>
            <td>
                <a href="/document/{{ doc.doc_key }}/">{{ doc.the_doc.name }}</a>
            </td>
            <td>
                {{ doc.doc_type}} 
            </td>
            <td>
                {{ doc.doc_descr }}
            </td>
            <td>
                {{doc.doc_ul_date}} 
            </td>
            <td>
                <form action="/document/del/" method="post"  id="document_delete"> <div style='display:none'></div>
                      {% csrf_token %} 
                      <button name="doc_id" class="delete" type="submit" value="{{ doc.doc_key }}"><i class="icon-remove"></i></button>
                </form>
            </td>
        </tr>

    {% endfor %}
    </table> 
{% else %}
    <p>No documents available.</p>
{% endif %}

    </div>    

    <!-- Content -->
    <div id="content" class="colM">
        
        <h1>Add document</h1>
        <div id="content-main">



<form enctype="multipart/form-data" action="/document/" method="post" 
           id="document_form"><div style='display:none'></div>
{% csrf_token %}           
<div>



  <fieldset class="module aligned ">
    
        <div class="form-row field-the_doc">
            
            
                <div>
                    
                        <label for="id_the_doc" class="required">The doc:</label>
                        
                        <input type="file" name="the_doc" id="id_the_doc" />
                        
                </div>
            
        </div>
    
        <div class="form-row field-doc_descr">
            
                <div>
                     
                        <label for="id_doc_descr" class="required">Doc descr:</label>
                        
                            <input id="id_doc_descr" type="text" class="vTextField" name="doc_descr" maxlength="255" />
                    
                </div>
            
        </div>
    
    
        <div class="form-row field-doc_type">
            
                <div>
                    
                        <label for="id_doc_type" class="required">Doc type:</label>
                        
                            <select name="doc_type" id="id_doc_type">
                                    <option value="Resume"selected>Resume</option>
                                    <option value="Cover Letter">Cover Letter</option>
                                    <option value="Form">Form</option>
                            </select>
                    
                </div>
            
        </div>
    
    
  </fieldset>


<div class="submit-row">
<input type="submit" value="Upload" class="default" name="_save" />

</div>





</div>
</form></div>
        
    <div id="footer"
        style='color:red'>
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    </div>
{% endblock %}
