{% extends 'jobtracker/base.html' %}
{% block body %}
      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h1>Take control of your job search!</h1>
        <p>Applying to dozens of jobs? Not sure which resume you used or which
        recruiter to contact? JobTracker is the solution you've been waiting for!</p>
        {% if not user.is_authenticated %}
        <p><a class="btn btn-primary btn-large" href="/register">Register now!</a></p>
        {% endif %}
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Track your jobs</h2>
          <p>Keep track of where and when you applied!</p>
        </div>
        <div class="span4">
          <h2>All in one place</h2>
          <p>
            Contact numbers, names, correspondences... all the details
            can add up quickly. With Jobtracker, you can keep everything in one
            place.
          </p>
       </div>
        <div class="span4">
          <h2>Resumes, Forms, Cover Letters</h2>
          <p>
             Put all your documents on one place, organized intuitively by job. 
          </p>
        </div>
      </div>
{% endblock %}
